.question-detail {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 16px;
  width: 60%;
  margin: 10px auto;
  padding: 20px;
  align-items: center;
}

.question {
  border: 2px solid black;
  width: 80%;
  padding: 10px;
}
