body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

button {
  font-family: 'League Spartan', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.swal2-styled.swal2-confirm {
  background-color: #ff7557 !important;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  filter: brightness(1.3);
}

* {
  /* Firefox */
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgb(146, 146, 146); /* scroll thumb and track */
}

*::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(146, 146, 146); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}
